{% extends "base.html" %}
{% load static %}



{% block jumbotron %}
{% if sliders %}
<div class="container-lg" style="margin-bottom:15px;">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">

        {% for slider in sliders %}
        <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}" {% if forloop.first %}class='active'{% endif %}></li>
        {% endfor %}

        </ol>
        <div class="carousel-inner">

        {% for slider in sliders %}

            <div class="carousel-item {% if forloop.first %}active{% endif %}">
              
              {% if slider.url_link %}
              <a href="{{ slider.url_link }}">{% endif %}
              <img class="d-block w-25" src="{{ slider.image.url }}" alt="{% if slider.text %}{{ slider.text }}{% else %}...{% endif %}">
              {% if slider.url_link %}</a>{% endif %}
                
              <div class="carousel-caption d-none d-md-block">

                {% if slider.header_text %}
                <h5>{{ slider.header_text|safe }}</h5>
                {% endif %}

                {% if slider.text %}
                <p>{{ slider.text|safe }}</p>
                {% endif %}

              </div>
          </div>
        {% endfor %}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
</div>
{% endif %}
{% endblock %}





{% block content %}
<div class="row">
{% for product in products %}
<div class="col-sm-4" style="margin-bottom:1%;">
<div class="img-thumbnail" style="width:95%; margin:0 auto;">
{% if product.productimage_set.all %}
{% for item in product.productimage_set.all %}
{% if item.featured %}
<a href="{{ product.get_absolute_url }}">
<div 
style="
height:30vh; 
background-color:white; 
margin:0 auto; 
display:block;
background-image:url('{{ item.image.url }}');
background-repeat:no-repeat;
background-size:cover;
background-position:center;
">

</div></a>
{% endif %}
{% endfor %}
{% else %}
<img class="w-100 h-25" src="{% static "img/placeholder.png" %}" />
{% endif %}
<div class="caption">
<a href="{{ product.get_absolute_url }}" ><h3>{{ product.title }} | {{ product.price }}$</h3></a>
<p>{{ product.description|truncatewords:15 }}</p>
<p>
<a href="{{ product.get_absolute_url }}" class="btn btn-info btn-xs" style="margin-left:1%;" role="button">View</a>
</div>
</div>
</div>
{% cycle "" "" "</div><br><hr /><div class='row'>" %}
{% endfor %}

</div>


{% endblock %}